#container{
 position:absolute;
  top:50%;
    font-family: sans-serif;
  left:50%;
 margin-top:-150px; /*  this is half the height of your div  */*/
  margin-left:-100px; /*this is half of width of your div*/
}

#home{
/*  border-color:#bdbdbd;*/
    text-decoration: none;
    display: inline;
    color:dodgerblue;
   position: relative;
    margin:50px 50px 50px 50px;
    padding: 14px 25px;
     border: 1px solid;
    border-radius: 25px;
     list-style-type: none;

}
#container h2{
    color: red;

}
#home:hover{
    
border-color:#bdbdbd;
border: 2px solid;
border-radius: 100px;
color:dodgerblue;
padding: 14px 25px;
}
