body {
	
	font-family:Raleway;
    color:#F36C8C;
    background-color: #F9F9F9;
        padding: 0;
  margin: 0;
}
.tbl_layout{
    margin-top:-1%;
}
#head_title h1 {
    text-align: center;
    color:#F36C8C;
    font-stretch: expanded;
 
}
#timestamp {
    color:black;
     text-align: right;
     padding: 0;
  margin: 0;
}

#menu{
    list-style-type: none;
/*    background-color: #c0c0c0;*/
  
    
  padding: 0;
  margin: 0;
}
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu li {
    float: center;
    text-decoration: none;
    display: inline;
}
#menu li a {
    display: inline-block;
    color:#333 ;
    text-align: center;
    font-family: Raleway;
    padding: 14px 16px;
    text-decoration: none;
}
#menu li a:hover {
    background-color: #c0c0c0;
}
 .textBox {
        outline: 0;
        height: 25px;
        background-color: transparent;
        width: 275px;
        border: none;
        border-bottom: 1px inset;
    }
    
    .textBox:focus {
        border-bottom-style: ridge;
    }

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a.header {
  background-color: #e2e2e2;
  cursor: default;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
#error {
    color:#ef4543;
    text-align: center;
}
.header-container{
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
#profile-title{
    float: right;
    color:#ffffff;
    font-family: Raleway;
     padding: 14px 16px;
    font-weight: bolder;
    background-color: #db3236;
    text-transform: uppercase;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1;}

#profile-title:hover.dropdown-content {
    display: block;
}

#profile-title:hover {
/*    background-color: #3e8e41;*/
    background-color: #db3236;
}

/*
  #circle {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #db3236;
      float: right;
      display:block;
      margin-top: 7px;}
*/

/*
.profile-title:hover{
    display: block;
}*/
#sessionError{
    margin-left: 25%;
    margin-top: 7%;
    color:red;
    width:35%;
    border: 1px ridge;
    border-color: #f1f1f1;
    background-color: #ffffff;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.new-user{
 font-family:Raleway;
     border: 1px ridge;
    border-color: #f1f1f1;
    height: 220px;
    margin-left: 25%;
    margin-top: 2%;
    padding: 50px;
    width: 30%;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    background-color: #ffffff;
}
#signin-header{
    font-family:Roboto;
    font-weight: bolder;
    padding-left:20%;
    margin-top:-4%;
    color:#555459;
    
        
}
.button-commit{
    background-color: #4885ed;
    border: 1px solid #4885ed;
/*    border-radius: 10px;*/
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    color: #ffffff;
    cursor: pointer;
   font-weight: bold;
    padding: 10px !important;
    position: absolute;
    text-align: center;
    width:20%;
   
    text-shadow: 1px 1px #4885ed;
    margin-left: 1%;
}#user_login,#user_password{
    height: 20px;
    margin-left: 25px;
    padding: 10px;
    width: 70%;
}.login{
    margin-left: 10%;
}.signindata{
    color:#555459;
     padding-left:20%;
    margin-top:-1%;
     font-family:Roboto;
    font-size: 1.1em;
}
#forgot_pass{
    color:#4885ed;
    margin-left: 57%;
    margin-top: 6%;
     font-family:Roboto;
    font-size: 1.1em;
}
.contact_msg{
    color:#555459;
    margin-left: 25%;
    width:40%;
    font-size: 1.2em;
}
